@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
  font-size: 20px;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
}

.header {
  background-color: #6943ff;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 40px 0;
}

.input {
  display: flex;
  font-size: 50px;
  font-weight: bold;
  border: 2px solid grey;
  margin: 20px auto;
  height: 100px;
  width: 150px;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  background-color: #6943ff;
  color: #fff;
}

button {
  width: 150px;
  margin: 0 auto;
  padding: 20px 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  text-align: center;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
}
